.hero {
  background: var(--card-thumb) no-repeat center center;
  background-size: cover;
  border-radius: 0.25rem;
  box-shadow: 0 0.625rem 1.25rem -0.25rem rgba(0, 0, 0, 0.25);
  height: 350px;
  max-width: 1000px;
  margin: 1.25rem auto;
  overflow: hidden;
  width: 90%;

  position: relative;
  &::before {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    background-color: rgba(54, 12, 66, 0.7);
    backdrop-filter: blur(2.5px);

    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }

  .container {
    text-align: center;
    height: 100%;
    width: 90%;
    max-width: 600px;

    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;
    z-index: 1;

    h1 {
      font-size: 1.125rem;
      line-height: 1.2;
      margin-bottom: 0;
      @media (min-width: 768px) {
        font-size: 2rem;
      }
    }

    .breadCrumb {
      margin-top: 1rem;
    }

    .info {
      width: 90%;
      max-width: 300px;
      margin-top: 1.25rem;
      margin-left: auto;
      margin-right: auto;

      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
      gap: 1rem;
      span {
        color: var(--color-white-100);
        display: inline-block;
        font-size: 0.75rem;
        font-weight: 400;
        opacity: 0.8;

        svg {
          display: inline-block;
          height: auto;
          margin-right: 4px;
          width: 0.875rem;

          position: relative;
          transform: translateY(3px);
        }
      }
    }
  }
}
